body {
    padding: 2em;
}

.headerContainer {
    text-align: center;
    background: tomato;
    font-weight: bold;
    padding: 10px;
}


.mainContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    gap: 10px;
}

.mainContentItem {
    flex: 3; 
    background: deepskyblue;
    padding: 10px;
}

.sideBarItem {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.sideBarLeftItem { 
    background: gold;
}

.sideBarRightItem { 
    background: hotpink;
}

.footerContainer {
    text-align: center;
    background: lightgreen;
    font-weight: bold;
    padding: 20px;
}